# .dockerignore

# Arquivos de banco de dados
*.db
*.sqlite3

# Arquivos compilados Python
__pycache__/
*.py[cod]
*$py.class

# Ambientais virtuais
venv/
.venv/
env/

# Arquivos de ambiente
.env
.env.local
.env.*

# Logs e arquivos de depuração
*.log
logs/
debug.log

# Configurações de IDEs e editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos temporários
*.tmp
*.temp
*~

# Arquivos de backup
*.bak
*.orig

# Migrations
migrations/
