<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blogzin - Feed</title>
</head>
<body>
    <h1>Blogzin</h1>

    <h2>Novo post</h2>
    <form action="/feed" method="post">
        <textarea name="body" placeholder="Corpo"></textarea>
        <input type="submit" value="Criar">
    </form>

    <hr> <!-- Separador entre o formulário e os posts -->

    <h2>Feed</h2>
    {% for post in posts %}
    <p><strong>Autor:</strong> {{ post.author.username }}</p>
        <p>{{ post.body }}</p>
        <hr>
    {% endfor %}

</body>
</html>
